<div style="background-color:rgba(50, 81, 100, .9); font-family: 'Bebas Neue'; padding:10px 0;  margin-top:2px; margin-bottom:2px">

   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"  > 

   
<h1><div style="text-align: center"> Department of Data Science</div>
<div style="text-align: center"> University of the Punjab, Lahore</div></h1>


<h1><div style="text-align: center">Course Title: Tools and Techniques for Data Science</div></h1>

   <div style="text-align: right; margin-right: 5px; font-size:18px"> <em><strong>Muhammad Arif Butt, Ph.D.</strong></em></div>

<h2><div style="text-align: center"> " <u>Lecture 2.2</u> "</div></h2>

## _numbers.ipynb_
#### [Click me to learn more about Python numbers](https://www.w3schools.com/python/python_numbers.asp)

### 1. Numberic data types can take four different types of values

In [1]:
w = 10
x = 20.5
y = 3 + 3j
z = True
print(type(w))
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [2]:
# Example of Boolean data type 
y = 10 < 100
print(y)
print(type(y))

True
<class 'bool'>

In [3]:
"""
boolean data type in Python?
In Python, True represents the value as 1 and False as 0. 
"""

x = (-1 == True)
y = (1 == False)
a = True + 9
b = False + 15

print("x is", x)
print("y is", y)
print("a:", a)
print("b:", b)

x is False
y is False
a: 10
b: 15

### 2. Range

In [4]:
#Range
i = 12345678901234567890123456789012345678901234567890
j = 0.1234567890123456711
print(i)
print(j)
#Notice that the float variable j is rounded up after 16 decimal places.

12345678901234567890123456789012345678901234567890
0.12345678901234568

### 3. Different operations and Data Types

In [5]:
#addition operation on complex variables
c = 4 + 6j
print(type(c))
print(c + 3)
print(c - 3)
print(c * 3)
print(c / 3)

#Comparison operator b/w complex numbers (doesn't support)
#d = 5 + 3j < 8 +3j
#print(d)

<class 'complex'>
(7+6j)
(1+6j)
(12+18j)
(1.3333333333333333+2j)

In [6]:
'''
Floating-point numbers are stored in computer hardware in IEEE-754 format
Due to this reason, most of the decimal fractions we know, cannot be accurately stored in our computer.
'''
a = 1.1 + 2.2
b = (a == 3.3)
print(b)
#print(a)

False

In [7]:
1.1 + 2.2

3.3000000000000003

### 4. Conversion Functions

In [8]:
print(float('2.5'))
print(str(25))
print(complex(3))
print(complex(3+5))
print(complex(4+7j))
#print(int('33m'))

2.5
25
(3+0j)
(8+0j)
(4+7j)

### 5. Some built-in Mathematical Functions

In [9]:
# pow() Return 2^10 in this case
print(pow(2,10))

# abs() Return the absolute value of a number.
a = abs(-3)
print(a)
b = abs(-2.7)
print(b)

# bin() converts an integer number to a binary string prefixed with 0b
print(bin(27))

# hex() converts an integer number to a lower case hex string prefixed with 0x
print(hex(27))

# oct() converts an integer number to a octal string prefixed with 0o
print(oct(27))

1024
3
2.7
0b11011
0x1b
0o33

### 6. Some Mathematical Functions for which you have to import the math library
#### [Click me to learn more](https://docs.python.org/3/library/)

In [10]:
import math
print(math.ceil(2.1678))
print(math.floor(2.9678))
print(math.sqrt(144))
print(math.factorial(5))

3
2
12.0
120