<div style="background-color:rgba(50, 81, 100, .9); font-family: 'Bebas Neue'; padding:10px 0;  margin-top:2px; margin-bottom:2px">

   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"  > 

   
<h1><div style="text-align: center"> Department of Data Science</div>
<div style="text-align: center"> University of the Punjab, Lahore</div></h1>


<h1><div style="text-align: center">Course Title: Tools and Techniques for Data Science</div></h1>

   <div style="text-align: right; margin-right: 5px; font-size:18px"> <em><strong>Muhammad Arif Butt, Ph.D.</strong></em></div>

<h2><div style="text-align: center"> " <u>Lecture 2.4</u> "</div></h2>

## _dictionary-operations.ipynb_
#### [Click me to learn more about Python Dictionaries](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Defining Dictionary in python
* Dictionaries are used to store elements in key:value pairs and created using curly braces.
* From Python version 3.7 onwards, dictionaries are ordered.
* Data type of key can be int, string, tuple 
* Key must be unique

In [21]:
# placing items inside curly braces {} separated by commas

#dictionary with string keys, showing age of persons
dict1 = {
    'arif':51, 
    'rauf':52, 
    'hadeed':20
}
print(dict1)

#dictionary with integer keys, showing symbol table
dict2 = {
    2580:'var1', 
    2582:'var2', 
    2586:'var3'
}
print(dict2)

print(type(dict2))

{'arif': 51, 'rauf': 52, 'hadeed': 20}
{2580: 'var1', 2582: 'var2', 2586: 'var3'}
<class 'dict'>

In [22]:
# dictionary with mixed keys
dict3 = {
    'name': 'kakamanna', 
    1: [10,20,30]
}
dict3

{'name': 'kakamanna', 1: [10, 20, 30]}

In [7]:
# dict() function creates a new dictionary with no items
dict4 = dict()
print(dict4)

# other way to create empty dictionary
dict5 = {}
print(dict5)

# creating dictionary with values using dict()
dict6 = dict({1: 'hello', 2: 'bye'})
dict6

{}
{}

{1: 'hello', 2: 'bye'}

### 2. Accessing dictionary elements
* a dictionary uses keys to access values 
* Keys can be used either inside square brackets [] or with the get() method

In [11]:
# use [] brackets
d1 = {
    'name':'kakamanna', 
    'age':22, 
    'address':'Johar Town Lahore', 
    'marks':[60, 75, 80]
}
print (d1['address'])

# in case of incorrect key, error occurs
#print (d1[22])

#to avoid errors, get() function can be used
print (d1.get(22))

# get returns none in case of wrong key
print (d1.get('marks'))

Johar Town Lahore
None
[60, 75, 80]

### 3. Dictionaries are mutable

In [35]:
# changing value corresponding to a particular key
d1 = {'nam':'kakamanna', 
      'age':22, 
      'address':'Johar Town', 
      'marks':[60, 75, 80]
     }
d1['marks'] = [63, 78, 83]
print (d1)

# changing old key with a new key
d1['name'] = d1.pop('nam')   # d1[new_key] = d1.pop(old_key)
print(d1)

# adding new element
d1['cell'] = '03214432145'
print (d1)

#can use update method
d1.update({'city':'Lahore'})
print (d1)

{'nam': 'kakamanna', 'age': 22, 'address': 'Johar Town', 'marks': [63, 78, 83]}
{'age': 22, 'address': 'Johar Town', 'marks': [63, 78, 83], 'name': 'kakamanna'}
{'age': 22, 'address': 'Johar Town', 'marks': [63, 78, 83], 'name': 'kakamanna', 'cell': '03214432145'}
{'age': 22, 'address': 'Johar Town', 'marks': [63, 78, 83], 'name': 'kakamanna', 'cell': '03214432145', 'city': 'Lahore'}

### 4. Removing items from Dictionary

In [36]:
# pop() method is given the key and it removes the corresponding key-value pair from dictionary, and returns its value
d1 = {'name':'kakamanna', 
      'age':22, 
      'address':'Johar Town', 
      'marks':[60, 75, 80]}
print(d1.pop('age'))
print(d1)

# popitem() removes last item, and return (key,value)
print(d1.popitem())
print(d1)

# clear() remove all items
d1.clear()
print(d1)

# del keyword is normally used to delete the directory from memory (may also be used to remove individual items by giving the key)
del d1
#print(d1)  # will generate an error now

22
{'name': 'kakamanna', 'address': 'Johar Town', 'marks': [60, 75, 80]}
('marks', [60, 75, 80])
{'name': 'kakamanna', 'address': 'Johar Town'}
{}

### 5. Misc Dictionary Methods

In [47]:
# Membership operators
d1 = {'name':'kakamanna', 
      'age':22, 
      'address':'Johar Town', 
      'marks':[60, 75, 80]}

print ('age' in d1)
print ('name' not in d1)
print ('city' not in d1)

# length of dictionary
print('length of dictiornary', len(d1))

# keys() method returns a list of keys in the dictionary
list_of_keys = d1.keys()
print(list_of_keys)

# values() method returns a list of values in the dictionary
list_of_values = d1.values()
print(list_of_values)


# get() method returns a the value of the specified key
print(d1.get('address'))

True
False
True
length of dictiornary 4
dict_keys(['name', 'age', 'address', 'marks'])
dict_values(['kakamanna', 22, 'Johar Town', [60, 75, 80]])
Johar Town

### 6. Iterating through a dictionary

In [53]:
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
print(d1)

#
print("Iterating through a dictionary keys:")
for i in d1:
    print(i)
    
    
# Iterating through the values
print("Iterating through a dictionary values:")
for i in dictionary:
    print(d1[i])

{'Name': 'Kakamanna', 'Sex': 'Male', 'Age': 23, 'Height': 6.1, 'Occupation': 'Student'}
Iterating through a dictionary keys:
Name
Sex
Age
Height
Occupation
Iterating through a dictionary values:
Kakamanna
Male
23
6.1
Student

### 7. Tuple, list and dictionary Conversion

In [57]:
d1 = {
    'Name': 'Kakamanna', 
    'Sex': 'Male', 
    'Age': 23, 
    'Height': 6.1, 
    'Occupation': 'Student'
}
print(d1)

#converting dictionary into tuple
t1 = tuple(d1.items())
print(t1)
print(type(t1))

#converting list into tuple
l1 = [1,3,4,6]
t2 = tuple(l1)
print(t2)
print(type(t2))

{'Name': 'Kakamanna', 'Sex': 'Male', 'Age': 23, 'Height': 6.1, 'Occupation': 'Student'}
(('Name', 'Kakamanna'), ('Sex', 'Male'), ('Age', 23), ('Height', 6.1), ('Occupation', 'Student'))
<class 'tuple'>
(1, 3, 4, 6)
<class 'tuple'>