<div style="background-color:rgba(50, 81, 100, .9); font-family: 'Bebas Neue'; padding:10px 0;  margin-top:2px; margin-bottom:2px">

   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"  > 

   
<h1><div style="text-align: center"> Department of Data Science</div>
<div style="text-align: center"> University of the Punjab, Lahore</div></h1>


<h1><div style="text-align: center">Course Title: Tools and Techniques for Data Science</div></h1>

   <div style="text-align: right; margin-right: 5px; font-size:18px"> <em><strong>Muhammad Arif Butt, Ph.D.</strong></em></div>

<h2><div style="text-align: center"> " <u>Lecture 2.4</u> "</div></h2>

## _tuple-operations.ipynb_
#### [Click me to learn more about Python Tuples](https://www.w3schools.com/python/python_tuples.asp)

### 1. Defining Tuples in python
* A Tuple in Python is similar to a List. The difference between the two is that we cannot change the elements of a tuple once it is assigned and is created using parenthesis.

In [13]:
# A tuple is created by placing comma separated values in parenthesis (or without prenthesis as well) 

t1 = (1, 2, 3, 4, 5, 2)
t1 = 1, 2, 3, 4, 5, 2
print(t1)

t2 = ('a', 'b', 'c', 'd', 'e')
print(t2)

# you can use tuple() constructor method to create a tuple from a string
t3 = tuple("Data Science")
print(t3)

print(type(t1))

(1, 2, 3, 4, 5, 2)
('a', 'b', 'c', 'd', 'e')
('D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e')
<class 'tuple'>

In [2]:
# creating empty tuple
t = ()
# another way is
t = tuple()
t

()

In [3]:
# nested tuple
tup = (1, "Hello", [8, 4, 6], (1, 2, 3), 5.5)
tup

(1, 'Hello', [8, 4, 6], (1, 2, 3), 5.5)

In [4]:
# to create a tuple with only one element is a bit tricky
str = 'Arif'
t = ('Arif',)       # note the comma
print(type(str))
print(type(t))

<class 'str'>
<class 'tuple'>

### 2. Accessing tuple element

In [5]:
# using [] 
tup = (1, "Hello", (8, 4, 6), (1, 2, 3), 5.5)
print(tup[3])

#accessing Nested tuple element
print(tup[2][1])

#negative indexing
print(tup[-1])

(1, 2, 3)
4
5.5

### 3. Tuples are Immutable

In [6]:
# you cannot change individual elements of a tuple
t1 = (4, 2, 3, [6, 5])
#my_tuple[1] = 9                   #error will occur

# however, elements of list within a tuple is still mutable
t1[3][0] = 9

# Tuples can be reassigned
t1 = ('p', 'y', 't', 'h', 'o', 'n')
print(t1)

('p', 'y', 't', 'h', 'o', 'n')

### 4. Slicing tuples

In [7]:
# Slicing operations of tuple are quite similar to Lists
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')
print(my_tuple[1:3])

print(my_tuple[:-5])

print(my_tuple[2:])

print(my_tuple[:])

('y', 't')
('p',)
('t', 'h', 'o', 'n')
('p', 'y', 't', 'h', 'o', 'n')

### 5 Tuple Concatenation and Repetition

In [8]:
# Concatenation
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup3 = tup1 + tup2
print(tup3)

# Repeatition
print(tup1 * 2)
print(("Arif",) * 5)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3)
('Arif', 'Arif', 'Arif', 'Arif', 'Arif')

### 5. Tuple Deletion

In [9]:
#can't delete or remove an individual item of a tuple
my_tuple = ('p', 'y', 't', 'h', 'o', 'n')
#del my_tuple[1]   
# Can delete an entire tuple
del my_tuple

# following line will give error my_tuple is not defined
#print(my_tuple)

### 6. Tuple Comparison

In [10]:
t1 = (1, 2, 3)
t2 = (3, 1, 2)
t3 = (1, 2, 3)
print(t1 != t2)
print(t1 == t3)
print(t1 > t2)

True
True
False

### 7. Tuple Assignment

In [11]:
t = ('learning', 'is', 'fun')
x, y, z = t
print (x, y, z)
print(type(x))
# can swap two numbers in a single statement using this method
a, b = 1, 2
c, d = b, a
print(c, d)

learning is fun
<class 'str'>
2 1

### 8. Built-in operations

In [12]:
t = (20, 30, 100)
print(type(t))

print(len(t))
print(max(t))
print(min(t))
print(sum(t))

<class 'tuple'>
3
100
20
150