<div style="background-color:rgba(50, 81, 100, .9); font-family: 'Bebas Neue'; padding:10px 0;  margin-top:2px; margin-bottom:2px">

   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"  > 

   
<h1><div style="text-align: center"> Department of Data Science</div>
<div style="text-align: center"> University of the Punjab, Lahore</div></h1>


<h1><div style="text-align: center">Course Title: Tools and Techniques for Data Science</div></h1>

   <div style="text-align: right; margin-right: 5px; font-size:18px"> <em><strong>Muhammad Arif Butt, Ph.D.</strong></em></div>

<h2><div style="text-align: center"> " <u>Lists</u> "</div></h2>

### 1- Defining lists in python

In [ ]:
#put comma separated values
#in square brackets [] 

list1 = [1,2,3,4,5]                                      #list of integers
list1

In [ ]:
# strings holds only character values
# lists are heterogeneous, as their elements/items can be of any data type

list2 = ["Arif", 30, 5.5]
print(list2)

In [ ]:
# Nested list: list can also have another list as an item

list3 = ["Arif", 30, 5.5, [10,'rauf']]
list3

In [ ]:
# can create empty list

empty_list = []
print (empty_list)

In [ ]:
#printing multiple lists

list1 = [1,2,3,4,5]
list3 = ["Arif", 30, 5.5, [10,'rauf']]
empty_list = []

print(list1, list3, empty_list)

### 2- Accessing list elements in Python

In [ ]:
#list indexing

list3 = ["Arif", 30, 5.5, [10,'rauf']]
print(list3[3])

#accessing Nested string element
print(list3[0][1])                              #accessing second element of string "Arif"


print(list3[3][1])                              #accessing second element of Nested list

In [ ]:
#Negative indexing

list3 = ["Arif", 30, 5.5, [10,'rauf']]
list3[-1]                                #accessing last element


#index should be of integer type
#print(list3[1.5])

### 3- lists are mutable

In [ ]:
#their elements can be changed, unlike strings
#use assinment = operator for this purpose

num = [10, 20, 30, 40, 50]
print("before: ", num[2])

num[2] = 15
print("After: ", num[2])

### 4- ordered lists
 * lists are ordered, as they hold elements in the same ordered, they were initialized <br>
 * lists allow duplication of elements

In [ ]:
subjects = ['PF', 'OOP', 'Operating System', 'DSA', 'OOP']
subjects

<h3><div style="text-align: center"> " <u>List Operations</u> "</div></h3>

### 1- Slicing

In [ ]:
# List slicing in Python

my_list = ['a','b','c','d','e','f','g','h','i']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

# can change items
my_list[1:4] = [3, 5, 7]
print(my_list)

# reverse the list using step value as -1
my_list[::-1]

### 2- List Concatenation and Repetition

In [ ]:
# use + operator to concatenate two strings

food_items1 = ['fruits', 'bread', 'veggies'] 
food_items2 = ['meat', 'spices', 'burger']

food = food_items1 + food_items2
print(food)

# food1 = food_items1 + []
# print(food1)

# numbers = [1,2,3]
# print (numbers + [4,5,6, [7,8]])

In [ ]:
# use * operator to create larger lists

# name = ['arif', 'rauf', 'hadeed']
# print (name * 3)

#list of 100 A's
buffer = ['A']
print (buffer * 100)

### 3-  Append, Extend, Insert, Delete, Remove, pop, clear

In [ ]:
# append() method is used to insert single element at the end of the list
# list of even numbers

list1 = [2, 4, 6, 8]
list1.append(10)
print("append list: ", list1)

# extend() method is used to insert multiple elements at the end of the list
list1.extend([12,14,16])
print("extend list: ", list1)

In [ ]:
# use insert(index, value) method to insert element at a specific location
name_list = ['hadeed', 'zalaid', 'maaz']
name_list.insert(2,'kakamanna')
print(name_list)

#insert multiple items by squeezing it into an empty slice of a list
name_list[3:3] = ['rauf', 'amir']
print(name_list)

# inserting another list
name_list.insert(1,[10, 20])
print(name_list)

In [ ]:
#delete one or more items or entire list using del keyword (if don't want to return the deleted item)
delete_list = ['p', 'u', 'n', 'j', 'a', 'b', 'university']
del delete_list[3]
print(delete_list)

#to delete multiple items
del delete_list[1:3]
print(delete_list)

#to delete entire list
# del delete_list

In [ ]:
#use remove() method to remove the given item (When item is known, rather tha index)
new_list = ['p', 'u', 'n', 'j', 'a', 'b']
new_list.remove('p')
print(new_list)

# use pop() method to remove and return an item (if index is known)
print(new_list.pop(2))

#pop() method removes and returns the last item if the index is not provided
print(new_list.pop())

#use the clear() method to empty a list
new_list.clear()
print(new_list)

#can also delete items in a list by assigning an empty list to a slice of elements
# new_list [:] = []
# print(new_list)

### 4- some list methods in python

In [ ]:
#sort list
list_num = [3, 8, 1, 6, 0, 8, 4]
list_num.sort()
print("sorted list: ", list_num)

#index() Returns the index of the first matched item
print("Returning index: ", list_num.index(8))

# to Reverse the order of items in the list
list_num.reverse()
print("Reversed list: ",list_num)

print("length of list: ", len(list_num))

print("max element in list: ", max(list_num))

print("min element in list: ",min(list_num))

print("Sum of element in list: ",sum(list_num))

# Membership (in) operator
3 in list_num

<h3><div style="text-align: center"> " <u>Lists and Strings</u> "</div></h3>

### 1- Type Casting

In [ ]:
# convert a string into list using list()
str1 = 'Happy'    #this is a string
t = list(str1)
print(t)

### 2- Split and Join

In [ ]:
#split the string 
str2 = 'Learning is fun with Arif Butt'
t1 = str2.split()
print(t1)

# str3 = 'Life-goes-on'
# t = str3.split()
# print(t)

#join is the reverse of split
t3 = ['learning', 'is', 'fun']
delimeter = '-'
t2 = delimeter.join(t3)
print(t2)

### 3- Objects and Values

 * case 1: a and b refer to two different objects, having same values 
 * case 2: Both refer to the same object

In [ ]:
# in case of strings, both refers to the same object
a = 'hello'
b = 'hello'

print ("in case of string:", a is b)

# in case of list, both refers to the different objects having same values
a = ['hello']
b = ['hello']

print ("in case of list:", a is b)

### 4- Aliasing
* An object with more than one reference, has more than one name, which means object is aliased

In [ ]:
#Both variables refer to same object
alist = ['a', 'b', 'c']
blist = alist

print(blist is alist)

#making change in one will effect the other
alist[1] = 'e'
print(blist[1])